# -------- Android Studio / IntelliJ --------
*.iml
.gradle/
local.properties
**/.idea/
**/.gradle/
**/build/
**/captures/
**/.externalNativeBuild/
**/.cxx/

# -------- macOS / Windows --------
.DS_Store
Thumbs.db

# -------- NetBeans --------
**/nbproject/private/
**/build/
**/dist/
**/target/

